body {
    background-color: whitesmoke;
    font-family: Futura;
    color: #333;
}

.title {
    margin: auto;
    text-align: center;
}

.navbar {
    height: 50px;
    background-color: black;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.navbar {
    color: #aaa;
}

.links {
    text-align: center;
    margin-bottom: 20px;
}

.block-holder {
    color: #888;
}

.links a {
    color: black;
    padding: 0px 7px 0px 7px;
}

.footer {
    padding: 50px;
    background-color: #eee;
}
